<!DOCTYPE html>
<html lang="en">
<head>
    ${require('../../common/views/header.html')}
    <title>美柚布局DEMO页面</title>
</head>
<body>
    <div class="header">MG最佳实践DEMO页面</div>
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="banner-img" src="../assets/imgs/1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="banner-img" src="../assets/imgs/2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="banner-img" src="../assets/imgs/3.jpg" alt="">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="category">
        <div class="item">
            <img src="../assets/imgs/jichi.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/jipai.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/shengdai.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/jichi.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/jipai.jpg" alt="">
        </div>
    </div>
    <div class="category">
        <div class="item">
            <img src="../assets/imgs/shengdai.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/jipai.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/shengdai.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/jichi.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/imgs/jipai.jpg" alt="">
        </div>
    </div>
    <div class="list-section">
        <div class="box">
            <div class="box-image">
                <img src="../assets/imgs/f1.jpg" alt="">
            </div>
            <div class="box-message">
                <div class="pd-title">进口深海鳕鱼500g（精选）</div>
                <div class="pd-sub-title">“还是个小孩就这么贪吃？”</div>
                <div class="pd-option">
                    <span class="pd-price">￥18.8/份</span>
                    <span class="pd-card"><i class="mg-icon icon-cart">&#xe603;</i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-image">
                <img src="../assets/imgs/m1.jpg" alt="">
            </div>
            <div class="box-message">
                <div class="pd-title">进口深海鳕鱼500g（精选）</div>
                <div class="pd-sub-title">“还是个小孩就这么贪吃？”</div>
                <div class="pd-option">
                    <span class="pd-price">￥18.8/份</span>
                    <span class="pd-card"><i class="mg-icon icon-cart">&#xe603;</i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-image">
                <img src="../assets/imgs/f1.jpg" alt="">
            </div>
            <div class="box-message">
                <div class="pd-title">进口深海鳕鱼500g（精选）</div>
                <div class="pd-sub-title">“还是个小孩就这么贪吃？”</div>
                <div class="pd-option">
                    <span class="pd-price">￥18.8/份</span>
                    <span class="pd-card"><i class="mg-icon icon-cart">&#xe603;</i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-image">
                <img src="../assets/imgs/m1.jpg" alt="">
            </div>
            <div class="box-message">
                <div class="pd-title">进口深海鳕鱼500g（精选）</div>
                <div class="pd-sub-title">“还是个小孩就这么贪吃？”</div>
                <div class="pd-option">
                    <span class="pd-price">￥18.8/份</span>
                    <span class="pd-card"><i class="mg-icon icon-cart">&#xe603;</i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-image">
                <img src="../assets/imgs/f1.jpg" alt="">
            </div>
            <div class="box-message">
                <div class="pd-title">进口深海鳕鱼500g（精选）</div>
                <div class="pd-sub-title">“还是个小孩就这么贪吃？”</div>
                <div class="pd-option">
                    <span class="pd-price">￥18.8/份</span>
                    <span class="pd-card"><i class="mg-icon icon-cart">&#xe603;</i></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-image">
                <img src="../assets/imgs/m1.jpg" alt="">
            </div>
            <div class="box-message">
                <div class="pd-title">进口深海鳕鱼500g（精选）</div>
                <div class="pd-sub-title">“还是个小孩就这么贪吃？”</div>
                <div class="pd-option">
                    <span class="pd-price">￥18.8/份</span>
                    <span class="pd-card"><i class="mg-icon icon-cart">&#xe603;</i></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>