<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>人脸融合</title>
<link href="/css/facemerge.69d8b4d9b1f49a151fc1.css" rel="stylesheet"></head>
<body>

<!-- Slider main container -->
<div id="page1" class="page">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/assets/1.cf02dcfe508aedf1b13a03d2070b5a54.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/assets/27.a1701a0b7650e83411bd3aedc6a4bf2f.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/assets/25.664d1409dbade2151c31662adaa8ed45.png" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <div class="btn">
        <button id="ensure">确认模板</button>
    </div>
</div>

<div id="page2" class="page">
    <div id="merge-content"></div>
    <div class="btn uploadDist">
        <button id="upload">上传照片</button>
        <input class="hide" type="file" id="img">
    </div>
</div>

<script type="text/javascript" src="/js/main.69d8b4d9b1f49a151fc1.js"></script></body>
</html>