html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #dddddd!important;
}


@font-face {
    font-family: 'iconfont';  /* project id 608106 */
    src: url('//at.alicdn.com/t/font_608106_93932aqg8hicz0k9.eot');
    src: url('//at.alicdn.com/t/font_608106_93932aqg8hicz0k9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_608106_93932aqg8hicz0k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_608106_93932aqg8hicz0k9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_608106_93932aqg8hicz0k9.svg#iconfont') format('svg');
}

.mg-icon{
    font-family: 'iconfont';
    font-size: 36px;/*px*/
    font-style: normal;
    font-weight: 300;
}

.header{
    text-align: center;
    font-size: 48px;
    padding: 10px;
    color: #fff;
    background-color: #FF9800;
    margin-bottom: 2px;
}

.banner{
    width: 100%;
    height: 350px;
}

.banner-img{
    width: 100%;
    height: 350px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 0.206667rem;
    height: 0.206667rem;
    background: #fff;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    width: 0.206667rem;
    height: 0.206667rem;
    background: #fff;
    opacity: 1;
}

.category{
    width: 100%;
    height: 160px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    background-color: #ffffff;
}

.category:after{
    display: block;
    content: '';
    clear: both;
}

.category .item{
    display: block;
    padding: 12px;
    box-sizing: border-box;
    width: 144px;
}

.category .item img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 1px solid #ddd;
}

.list-section{
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
}

.box{
    width: 100%;
    height: 210px;
    display: flex;
    padding: 30px 0;
}

.box-image{
    width: 300px;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.box-image img{
    width: 100%;
    height: 100%;
}

.box-message{
    width: 450px;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 15px;
    position: relative;
}

.pd-title{
    font-size: 32px;/*px*/
}
.pd-sub-title{
    background-color: rgb(253,251,236);
    font-size: 24px;/*px*/
    color: rgb(201, 154, 123);
    margin-top: 20px;
}

.pd-option{
    position: absolute;
    top: 175px;
    font-size: 24px;/*px*/
    font-weight: 600;
    width: 420px;
    height: 30px;
}

.pd-option .pd-card{
    position: absolute;
    right: 40px;
}