Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: Error: ENOENT: no such file or directory, open 'C:\meetyou\workspace\self\multipages-generator\templates\apps\voicemerge\views\index.html':
  Error: ENOENT: no such file or directory, open 'C:\meetyou\workspace\self\multipages-generator\templates\apps\voicemerge\views\index.html'
  
  - compiler.js:79 childCompiler.runAsChild
    [templates]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:300 compile
    [templates]/[webpack]/lib/Compiler.js:300:11
  
  - Compiler.js:510 applyPluginsAsync.err
    [templates]/[webpack]/lib/Compiler.js:510:14
  
  - Tapable.js:202 next
    [templates]/[webpack]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:78 Compiler.<anonymous>
    [templates]/[webpack]/lib/CachePlugin.js:78:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [templates]/[webpack]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:507 compilation.seal.err
    [templates]/[webpack]/lib/Compiler.js:507:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [templates]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:677 applyPluginsAsync.err
    [templates]/[webpack]/lib/Compilation.js:677:19
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [templates]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:668 applyPluginsAsync.err
    [templates]/[webpack]/lib/Compilation.js:668:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [templates]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:663 applyPluginsAsync.err
    [templates]/[webpack]/lib/Compilation.js:663:10
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [templates]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:659 applyPluginsAsyncSeries
    [templates]/[webpack]/lib/Compilation.js:659:9
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [templates]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
</pre><script type="text/javascript" src="/js/main.7751ce4870607204bda8.js"></script>