<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="六大核心功能：提供月经记录、经期跟踪等多功能。及时提醒女性经期护理，让生活更舒心！美柚经期助手，中国女性的正确选择！" />
<meta name="Keywords" content="美柚,大姨妈,月经助手,经期助手,月经应用,经期应用,经期记录,经期跟踪,月经记录,月经跟踪,月经预测,经期预测,经期护理,抽奖,福利" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="wap-font-scale" content="no">
<link rel="shortcut icon" href="//www.meiyou.com/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="turbolinks-cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="cache-control" content="no-cache,no-store,must-revalidate"/>
<meta name="format-detection" content="telephone=no,date=no,address=no,email=no">
<!--<script type="text/javascript">
    if (window.devicePixelRatio === 1) { if (window.innerWidth === 2 * screen.width || window.innerWidth === 2 * screen.height) { el = document.getElementById('viewport'); el.setAttribute('content', 'width=device-width target-densityDpi=device-dpi ' + 'initial-scale=1 maximum-scale=1 user-scalable=no'); document.head.appendChild(el); width = window.innerWidth; height = window.innerHeight; if (width === 2 * screen.width) { width /= 2; height /= 2; } } }
</script>
    <title>Title</title>
<link href="/css/viewport.e0e7b39a96b7f5c406e8.css" rel="stylesheet"></head>
<body>
        <div class="line"></div>
<script type="text/javascript" src="/js/main.e0e7b39a96b7f5c406e8.js"></script></body>
</html>